*{
    padding: 0;
    /* margin: 0; */
  
}

body {
    /* max-width: 360px; */
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 4%;

    font-family: 'Sofia Sans', sans-serif;
}

pre {
    display: none;
}

.featured-story {
    /* display: none; */
    display: flex;
    margin-bottom: 5%;
    border-bottom: 1px solid rgb(196, 196, 196);
    padding-bottom: 5%;
}

.feature-description {
    font-style: italic;
}

.feature-container1 {
    width: 40%;
    padding-left: 5%;
    padding-top: 3%;
}

a.feature-title {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 32px;
    color: rgb(41, 41, 41);
    text-decoration: none;
    font-weight: bold;
}

span.feature-content {
    display: none;
    margin-bottom: 10%;
    margin-top: 20%;
}

.source {
    /* position: relative;
    bottom: 0; */
    margin-top: 5%;
}
a.feature-source{
    color: rgb(148, 148, 148);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
   
}

img.feature-image {
    /* text-align: left; */
    padding-left: 5%;
}








li.story-in-stories {
    list-style: none;
    border: 1px solid rgb(196, 196, 196);
    padding: 40px 30px;
    margin-bottom: 10%;
    border-radius: 4px;
}

a.story-title {
    text-decoration: none;
    font-weight: bolder;
    font-size: 24px;
    color: rgb(23, 23, 23);
    /* color: rgba(0, 0, 0, 0); */
}


a.story-title:visited {
    text-decoration: none;
}

p.story-description {
    font-size: 14px;
    color:rgb(70, 70, 70);
    margin-block-end: 0em;
    font-style: italic;

}

p.story-date {
    font-size: 14px;
    color:rgb(70, 70, 70);
    margin-block-start: 0.8em;



}

img.story-image {
    border-radius: 4px;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
}

.content {
    margin-bottom: 6%;

}

span.story-content {
    display: none;
    line-height: 14px;
    font-size: 12px;
    color: rgb(70, 70, 70);
    /* margin-top: 100px; */

}

.source {
    /* margin-bottom: 20%; */

}
/* 
.source::after {
    content:"";
    display: block;
    color: black;
    height: 1.3px;
    width: 0;
    margin: auto;
    background-color: #000000;
} */

a.story-source {
    color: rgb(148, 148, 148);
    font-size: 14px;
    font-weight: bold;
    /* text-decoration: none; */
    /* margin-bottom: 20%; */
    
}

.story-source a :hover {
    color: blue;
    
}

a.story-source:visited {
    /* text-decoration: none; */
    
}

@media (min-width: 720px) {
    .story-list {
        display: grid;
        gap: 0px 40px;
        grid-template-columns: 1fr 1fr;
    }

    .featured-story {
        display:block;
    }
}

@media (min-width: 1200px) {
    .story-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}